<hibernate-configuration>
    <session-factory>
        <!-- Configuración de conexión a la base de datos -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Hibernate_EscuelaBloqueII</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Dam2425*</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Clases mapeadas -->
        <mapping class="com.example.Curso"/>
        <mapping class="com.example.Alumno"/>
    </session-factory>
</hibernate-configuration>
